@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.App {
  text-align: center;
}
